<!DOCTYPE html>
<html>
	<head>
		
			<title>Live::View</title>
		
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<link rel="icon" type="image/png" href="../../../_static/icon.png"/>
		<link rel="stylesheet" href="../../../_static/site.css" type="text/css" media="screen"/>
		
		<script src="../../../_components/jquery/jquery.min.js"></script>
		<script src="../../../_components/jquery-syntax/jquery.syntax.min.js"></script>
		
		<script src="../../../_static/links.js"></script>
		
		<script type="text/javascript">
		//<![CDATA[
			jQuery(function($) {
				$.syntax();
			});
		//]]>
		</script>
	</head>

	<body>
		<header> › <a class="link" href="../../../index.html">Project</a> › <a class="link" href="../../index.html">Source</a></header>
		
		<main>
			
	<h1><code class="language-ruby">Live::View</code></h1>
	
	<p>Represents a single division of content on the page an provides helpers for rendering the content.</p>
	
	
	<section>
	<h2>Definitions</h2>
	
	<section id="Live::View#replace!"><h3><code class="language-ruby">def replace!</code></h3><p>Replace the content of the client-side element by rendering this view.</p>
<details>
						<summary><h4>Implementation</h4></summary>
						<pre><code class="language-ruby">def replace!
	rpc(:replace, [@id, self.to_html])
end</code></pre>
					</details></section><section id="Live::View#append!"><h3><code class="language-ruby">def append!(element)</code></h3><p>Append to the content of the client-side element by appending the specified element.</p>
<details open>
	<summary><h4>Signature</h4></summary>
	<dl><dt>
					<strong>parameter</strong>　<code class="syntax">node</code>　<code class="language-ruby">Live::<a href="../Element/index.html" title="Live::Element">Element</a></code></dt><dd><p>The element to append.</p>
</dd></dl>
</details>
<details>
						<summary><h4>Implementation</h4></summary>
						<pre><code class="language-ruby">def append!(element)
	rpc(:append, [@id, element.to_html])
end</code></pre>
					</details></section><section id="Live::View#prepend!"><h3><code class="language-ruby">def prepend!(element)</code></h3><p>Prepend to the content of the client-side element by appending the specified element.</p>
<details open>
	<summary><h4>Signature</h4></summary>
	<dl><dt>
					<strong>parameter</strong>　<code class="syntax">node</code>　<code class="language-ruby">Live::<a href="../Element/index.html" title="Live::Element">Element</a></code></dt><dd><p>The element to prepend.</p>
</dd></dl>
</details>
<details>
						<summary><h4>Implementation</h4></summary>
						<pre><code class="language-ruby">def prepend!(element)
	rpc(:prepend, [@id, element.to_html])
end</code></pre>
					</details></section><section id="Live::View#render"><h3><code class="language-ruby">def render(builder)</code></h3><p>Render the element.</p>
<details open>
	<summary><h4>Signature</h4></summary>
	<dl><dt>
					<strong>parameter</strong>　<code class="syntax">builder</code>　<code class="language-ruby">Trenni::Builder</code></dt><dd><p>The HTML builder.</p>
</dd></dl>
</details>
<details>
						<summary><h4>Implementation</h4></summary>
						<pre><code class="language-ruby">def render(builder)
end</code></pre>
					</details></section><section id="Live::View#to_html"><h3><code class="language-ruby">def to_html</code></h3><details open>
	<summary><h4>Signature</h4></summary>
	<dl><dt>
					<strong>returns</strong>　<code class="language-ruby">Object</code></dt><dd><p>The generated HTML.</p>
</dd></dl>
</details>
<details>
						<summary><h4>Implementation</h4></summary>
						<pre><code class="language-ruby">def to_html
	Trenni::Builder.fragment do |builder|
		builder.tag :div, id: @id, class: 'live', data: @data do
			render(builder)
		end
	end
end</code></pre>
					</details></section>	</section>

				
			<footer>Documentation generated by <a href="https://github.com/socketry/utopia-project">Utopia::Project</a>.</footer>
		</main>
	</body>
</html>